In [24]:
import pandas as pd
import numpy as np

In [25]:
df=pd.read_csv('customer.csv')

In [26]:
df.sample(5)

    age  gender   review education purchased
35   74    Male     Poor    School       Yes
30   73    Male  Average        UG        No
26   53  Female     Poor        PG        No
34   86    Male  Average    School        No
8    65  Female  Average        UG        No

In [27]:
df=df.drop(['age','gender'],axis=1)

In [29]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

# Odinal Encoding

In [30]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(['purchased'],axis=1),df['purchased'],test_size=0.2)

In [40]:
x_train

     review education
21  Average        PG
2      Good        PG
10     Good        UG
14     Poor        PG
12     Poor    School
6      Good    School
43     Poor        PG
49     Good        UG
4   Average        UG
29  Average        UG
5   Average    School
36     Good        UG
45     Poor        PG
17     Poor        UG
15     Poor        UG
42     Good        PG
46     Poor        PG
40     Good    School
25     Good    School
8   Average        UG
30  Average        UG
9      Good        UG
18     Good    School
0   Average    School
48     Good        UG
13  Average    School
22     Poor        PG
7      Poor    School
11     Good        UG
31     Poor    School
38     Good    School
23     Good    School
35     Poor    School
3      Good        PG
37  Average        PG
28     Poor    School
47     Good        PG
32  Average        UG
20  Average    School
41     Good        PG

In [41]:
from sklearn.preprocessing import OrdinalEncoder

In [42]:
x_train

     review education
21  Average        PG
2      Good        PG
10     Good        UG
14     Poor        PG
12     Poor    School
6      Good    School
43     Poor        PG
49     Good        UG
4   Average        UG
29  Average        UG
5   Average    School
36     Good        UG
45     Poor        PG
17     Poor        UG
15     Poor        UG
42     Good        PG
46     Poor        PG
40     Good    School
25     Good    School
8   Average        UG
30  Average        UG
9      Good        UG
18     Good    School
0   Average    School
48     Good        UG
13  Average    School
22     Poor        PG
7      Poor    School
11     Good        UG
31     Poor    School
38     Good    School
23     Good    School
35     Poor    School
3      Good        PG
37  Average        PG
28     Poor    School
47     Good        PG
32  Average        UG
20  Average    School
41     Good        PG

In [43]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [44]:
x_train=oe.fit_transform(x_train)
x_test=oe.fit_transform(x_test)

In [45]:
x_train

array([[1., 2.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [1., 1.],
       [2., 1.],
       [2., 0.],
       [1., 0.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [2., 1.],
       [0., 0.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [1., 2.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [1., 0.],
       [2., 2.]])

In [46]:
x_test

array([[1., 0.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [1., 2.],
       [0., 1.],
       [0., 2.]])

# LabelEncoding

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le=LabelEncoder()

In [50]:
le.fit(y_train)

LabelEncoder()

In [51]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [52]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [53]:
y_train

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1])